:root{
    --black: #000;
    --white: #FFF;
    --mainColor: #0099ff;
    --red: red;
    --gray: rgb(182, 182, 182);
    --darkGray: rgb(133, 133, 133);
    --softGray: rgba(200,200,200,0.6);

    --mainFont: 'Yaldevi', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    font-family: inherit;
}

body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    font-family: var(--mainFont);
}

body>header{
    height: 7.5rem;
    display: flex;
    align-items: center;
    padding: 0 clamp(1.5rem, 5%, 5rem);
}

h1{
    margin: 0;
    font-size: 3rem;
    color: var(--mainColor);
    text-shadow: 1px 1px 0px var(--gray);
    font-style: oblique;
}

body>footer{
    height: 2rem;
    width: 100%;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

footer>p{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

body>main{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rate-options-tabs{
    display: flex;
    justify-content: center;
    gap: max(1rem, 7.5%);
    padding: 0 1rem;
    min-height: 6rem;
}

.background-container{
    position:absolute;
    width: 100%;
    top: 50vh;
    right: 0;
    z-index: -1;
    height: calc(100% - 50vh);
}

.background-wave{
    position: relative;
    top: 3px;
}

.background-continuation{
    height: calc(100% - 22.2vw);
    background-color: var(--mainColor);
}

svg{
    margin: 0;
}
h2{
    font-size: min(3.8vw, 1.6rem);
}

.tab-option-rate{
    box-shadow: 0px -7px 20px -5px rgba(157, 157, 157, 0.25), 0px -4px 10px -2px rgba(157,157,157,0.22);
    margin: 0;
    padding: clamp(1rem, 2%, 1.5rem) clamp(1rem, 4%, 3rem); /* Revisar? */
    max-width: 20rem;
    background-color: var(--softGray);
    color:var(--darkGray);
    border-radius: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
}

.tab-option-rate:hover{
    cursor: pointer;
}

.active-tab{
    color: var(--mainColor);
    background-color: var(--white);
}

main>main{
    padding: clamp(2rem, 5%, 5rem);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
    background-color: var(--white);
    border-radius: 1rem;
    width: 100%;
    margin: 0 auto;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 640px) {
    main>main{
        width: 80%;
    }
}

@media (min-width: 896px) {
    main>main{
        width: 60%;
    }

    main>main.bigger-width{
        width: 80%;
    }
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(20rem, 75%, 50rem);
    margin-bottom: 2rem;
}

label>p{
    margin: 0;
    align-self: flex-start;
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 500;
}

input, select{
    width: 100%;
    padding: .7rem;
    text-align: center;
    font-weight: 500;
}

[name="convert-currency-form"] label:first-of-type{
    margin-bottom: .8rem;
}

option{
    text-align: start;
}

input[type="submit"]{
    margin-bottom: 0;
    background-color: var(--mainColor);
    border: none;
    padding: 1.5rem;
    color: var(--white);
    font-size: 1.8rem;
    letter-spacing: .1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    border-radius: 1rem;
    transition: transform .5s;
}

input[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.loading-container{
    width: 100%;
    text-align: center;
}

.loading-wheel{
    height: 5rem;
    width: 5rem;
    border: .5rem solid var(--gray);
    border-top-color: var(--mainColor);
    border-radius: 50%;
    animation: spinningWheel 1.3s ease infinite;
    margin: 0 auto;
}

.loading-message{
    font-size: 2rem;
    color: var(--darkGray);
    margin: .8rem 0;
}

@keyframes spinningWheel {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.exchange-rates-container{
    display: grid;
    column-gap: 2rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.rates-result-heading-container{
    grid-column: 1/-1;
    text-align: center;
}
.exchange-rate-card{
    /* border: 1px solid var(--black); */
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results-display{
    width: 100%;
    text-align: center;
}

.results-display h3{
    font-size: 2.5rem;
    color: var(--mainColor);
    margin-top: 0;
}

.results-display h4{
    font-size: 1.8rem;
    margin-bottom: 0;
}

.results-display p{
    color: var(--black);
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 500;
}

.results-display span{
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--mainColor)
}

h4.exchange-rate-heading{
    color: var(--mainColor);
    font-size: 2.2rem;
    margin: 2rem 0;
}

.exchange-rate-equivalence span{
    margin: .3rem 0;
}

/* Utilities */
.display-none{
    display: none;
}

.invalid-input{
    border-color: var(--red);
}

.invalid-input-message{
    color: var(--red);
    margin: .5rem 0;
    text-align: center;
}